{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="her"
    style="background-image: url('{% static 'images/pic.jpg' %}');">
    <img src="{% static 'images/pizza.jpg' %}" class="burger-img">
<h1>About Us</h1>
<p>We serve delicious food with love.</p>

    <p >Delicious Food

Fresh • Tasty • Quality Food
</p><p>
Experience the best burgers, pizzas and snacks
made with love and premium ingredients.
</p><p>
🖼️ OFFER 1

Tasty Thursdays
Flat 20% Off

On all burgers
Limited time offer
    </p><p>
🖼️ OFFER 2

Pizza Days
Get 15% Off

Hot & cheesy pizzas
Hurry up!
</p><p>
🖼️ ABOUT 
<ul type=disc>
<li>Serving delicious food with passion.
Quality taste, friendly service.
<li>A memorable dining experience.
<ul>

</p><p><ul type=circle>
🖼️ SMALL FOOD CARD (Tasty)
<li>🍔 Burger
Juicy grilled burger
with fresh veggies & sauce

<li>🍕 Pizza
Cheesy crust pizza
baked to perfection

<li>🍟 Fries
Crispy golden fries
perfect side snack
</ul></p><p>
🖼️ BOOK TABLE 
<ul>
<li>Book Your Table

<li>Enjoy your meals
in a cozy & friendly atmosphere</p>
<p></ul>
    
{% endblock %}
