{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main">
</div> 
</div>
<section class="hero"
    style="background-image: url('{% static 'images/bg2.jpg' %}');">
   
    <h1>Fast Food Restaurant</h1>
     <p >Delicious Food
Fresh • Tasty • Quality Food
</p><p>
<p>
Welcome to our restaurant, where taste meets quality and every dish is crafted with care. We serve a wide variety of delicious meals made from fresh ingredients, bringing you the perfect blend of flavor and tradition. Whether you’re craving fast food, snacks, or a complete meal, our restaurant offers a warm ambiance, quick service,
 and unforgettable taste. Order your favorite food online and enjoy a delightful dining experience with us.<br>
  <a href="/menu/" class="btn">Order Now</a>
</section></p>
   
</section>
    

</section>
{% endblock %}
